/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --first-color: hsl(45, 100%, 50%);
    --first-color-alt: hsl(45, 100%, 48%);
    --first-color-light: hsl(45, 100%, 88%);
    --gradient-color: linear-gradient(180deg, hsl(45, 100%, 65%) 0%, hsl(45, 100%, 45%) 100%);
    --title-color: hsl(45, 4%, 8%);
    --text-color: hsl(45, 4%, 40%);
    --text-color-light: hsl(45, 4%, 60%);
    --white-color: hsl(45, 80%, 98%);
    --dark-color: hsl(45, 4%, 8%);
    --body-color: hsl(45, 100%, 96%);
    --container-color: hsl(45, 100%, 99%);
    --shadow-first-color: hsla(45, 100%, 50%, .3);
    --shadow-small: 0 4px 8px hsla(45, 50%, 8%, .1);
    --shadow-big: 0 2px 16px hsla(45, 50%, 8%, .1);
    --shadow-img-small: drop-shadow(0 4px 8px hsla(45, 50%, 8%, .2));
    --shadow-img-big: drop-shadow(0 16px 4px hsla(45, 50%, 8%, .3));

    /* Font and typography */
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* Responsive typography */
    @media screen and (min-width: 1150px) {
        :root {
            --biggest-font-size: 4rem;
            --bigger-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
         }
    }
}

/* Base Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Shared Styles */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title, 
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--bigger-font-size);
  margin-bottom: 2rem;
}

.section-subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  margin-bottom: .25rem;
}

.main {
  overflow: hidden;
}

/* Header Section Styles Starts */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: background-color .4s box-shadow .4s;
}
/* Navbar Section Styles Starts */
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-size: var(--h2-font-size);
}

.nav-logo i {
  font-size: 1.5rem;;
  color: var(--title-color);
  transition: color .4s;
}

.nav-logo span {
  font-weight: var(--font-bold);
  color: var(--first-color);
}

.nav-toggle {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
  transition: transform .4s;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav-menu {
    position: fixed;
    top: 5rem;
    left: -200%;
    right: 0;
    margin: 0 auto;
    width: 75%;
    box-shadow: var(--shadow-big);
    background-color: var(--body-color);
    padding: 3.5rem;
    border-radius: 3rem;
    border: 3px solid var(--first-color);
    transition: left .4s, background-color .4s, box-shadow .4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav-link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-theme {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Show Menu */
.show-menu {
  left: 0;
}

.show-menu + .nav-toggle {
  transform: rotate(90deg);
}

/* Add Shadow Header */
.shadow-header {
  box-shadow: var(--shadow-big);
}
/* Navbar Section Styles Ends */
/* Header Section Styles Ends */

/* Main Section Styles Starts */
/* Home Section Styles Starts */
.home-container {
  padding-block: 1.5rem;
  row-gap: 3rem;
}

.home-data {
  text-align: center;
  display: grid;
  row-gap: 3rem;
}

.home-title {
  font-size: var(--biggest-font-size);
  margin-bottom: .5rem;
}
.home-title span {
  color: var(--first-color);
}

.home-description {
  margin-bottom: 2rem;
}

.home-social {
  display: flex;
  justify-content: center;
  column-gap: .75rem;
}

.home-link {
  width: 40px;
  height: 40px;
  background-color: var(--container-color);
  box-shadow: var(--shadow-small);
  border-radius: .75rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--title-color);
  transition: background-color .4s, box-shadow .4s, color .4s;
}

.home-image {
  position: relative;
  width: 320px;
  height: 320px;
  background: var(--gradient-color);
  border-radius: 6rem;
  justify-self: center;
  margin-top: 3rem;
}

.home-img {
  width: 230px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  mask-image: linear-gradient(var(--first-color) 80%, transparent 95%);
  filter: var(--shadow-img-big);
}

.home-phone {
  position: absolute;
  top: 9.5rem;
  left: -1rem ;
  background-color: var(--container-color);
  box-shadow: var(--shadow-small);
  padding: .5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  transition: background-color .4s;
}

.home-icon {
  width: 36px;
  height: 36px;
  background-color: var(--first-color);
  border-radius: .75rem;
  display: grid;
  place-items: center;
  color: var(--white-color);
  font-size: 1.25rem;
}

.home-number {
  font-size: var(--small-font-size);
  font-style: normal;
  color: var(--title-color);
}

.home-number span {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-top: .25rem;
}

.home-comment {
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  width: 250px;
  background-color: var(--container-color);
  box-shadow: var(--shadow-small);
  border-radius: 1.5rem;
  padding: 1.5rem 2.5rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  transition: background-color .4s;
}

.home-comment::before {
  content: open-quote;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.home-comment::after {
  content: close-quote;
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.home-comment::before,
.home-comment::after {
  font-size: 2rem;
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.home-link:hover {
  background-color: var(--first-color);
  box-shadow: 0 4px 8px var(--shadow-first-color);
}

.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px var(--shadow-first-color);
  transition: background-color .4s, color .4s;
}

.button:hover {
  background-color: var(--first-color-alt);
}
/* Home Section Styles Ends */

/* Service Section Starts */
.service-container {
  grid-template-columns: 220px;
  justify-content: center;
  row-gap: 2rem;
}

.service-card {
  text-align: center;
}

.service-img {
  width: 150px;
  margin: 0 auto 1.5rem;
}
.service-title {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}
/* Service Section Ends */

/* Menu Section Styles Starts */
.menu-container {
  grid-template-columns: repeat(2, 1fr);
}
.menu-card {
  position: relative;
  display: grid;
  row-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow-small);
  padding: .5rem 1rem 1rem;
  border-radius: 1.5rem;
  transition: background-color .4s;
}

.menu-img {
  width: 100px;
  justify-self: center;
  filter: var(--shadow-img-small);
  transition: transform .4s;
}

.menu-card:hover .menu-img{
  transform: translateY(-.25rem);
}

.menu-name {
  font-size: var(--h3-font-size);
}
.menu-amount {
  font-size: var(--small-font-size);
  margin-block: .25rem .5rem;
}

.menu-price {
  font-size: var(--h3-font-size);
  color: var(--first-color);
}

.menu-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;
  background-color: var(--first-color);
  box-shadow: 0 4px 8px var(--shadow-first-color);
  border-radius: .75rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Menu Section Styles Ends */
/* Main Section Styles Ends */

/* Media Queries */
/* For small devices */
@media screen and (min-width: 360px) {
  .container {
    margin-inline: 1rem;
  }
  .home-image {
    width: 100%;
    left: .25rem;
  }
  .menu-container {
    grid-template-columns: 180px;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .nav-menu {
    width: 50%;
  }
  .home-container {
    grid-template-columns: 380px;
    justify-content: center;
  }
  .menu-container {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .service-container {
    grid-template-columns: repeat(2, 220px);
  }
  .menu-container {
    grid-template-columns: repeat(3, 180px);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 2rem;
  }
  .section-title {
    margin-bottom: 3.5rem;
  }
  .section-subtitle {
    margin-bottom: .5rem;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav-toggle {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav-theme {
    position: initial;
    font-size: 1.5rem;
  }
  .nav-menu {
    width: initial;
    display: flex;
    column-gap: 4rem;
    align-items: center;
  }
  .home-container {
    grid-template-columns: 500px 520px;
    align-items: center;
    column-gap: 5rem;
    padding-block: 4rem;
  }
  .home-data {
    text-align: initial;
    row-gap: 5rem;
  }
  .home-title {
    margin-bottom: 1rem;
  }
  .home-description {
    font-size: var(--h3-font-size);
    margin-bottom: 3rem;
  }
  .home-social {
    justify-content: initial;
  }
  .home-image {
    width: 520px;
    height: 520px;
    border-radius: 11rem;
  }
  .home-img {
    width: 380px;
  }
  .home-phone {
    top: 15rem;
    left: -4rem;
    padding: .75rem;
    border-radius: 1.25rem;
  }
  .home-icon {
    width: 48px;
    height: 48px;
    font-size: 2rem;
    border-radius: 1rem;
  }
  .home-number {
    font-size: var(--normal-font-size);
  }
  .home-comment {
    right: 1.5rem;
    bottom: -3rem;
    width: 320px;
    padding: 2rem 3rem;
    font-size: var(--normal-font-size);
    border-radius: 2rem;
  }
  .home-comment::before,
  .home-comment::after {
    font-size: 3rem;
  }
  .service-container {
    grid-template-columns: repeat(3, 220px);
    column-gap: 10rem;
  }
  .service-img {
    width: 180px;
    margin-bottom: 2rem;
  }
  .menu-container {
    grid-template-columns: repeat(4, 260px);
    row-gap: 2rem;
  }
  .menu-card {
    padding: 1rem 1.5rem 2rem;
    border-radius: 2rem;
  }
  .menu-img {
    width: 160px;
  }
  .menu-name,
  .menu-price {
    font-size: var(--h2-font-size);
  }
  .menu-amount{
    font-size: var(--normal-font-size);
    margin-block: .5rem 1rem;
  }
  .menu-button {
    right: 1.5rem;
    bottom: 2rem;
    width: 48px;
    height: 48px;
    border-radius: 1rem;
    font-size: 2rem;
  }
}